# The big dataset of ultra-marathon running

## import labreries

In [215]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

# Loading data

In [87]:
df = pd.read_csv(r"C:\Users\pcc\Desktop\PROJECT_CARRER\racer\RACES.csv")

C:\Users\pcc\AppData\Local\Temp\ipykernel_11292\841189145.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\pcc\Desktop\PROJECT_CARRER\racer\RACES.csv")

# EDA

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Year of event              1048575 non-null  int64
 1   Event dates                1048575 non-null  object
 2   Event name                 1048575 non-null  object
 3   Event distance/length      1048290 non-null  object
 4   Event number of finishers  1048575 non-null  int64
 5   Athlete performance        1048575 non-null  object
 6   Athlete club               621596 non-null   object
 7   Athlete country            1048575 non-null  object
 8   Athlete year of birth      972449 non-null   float64
 9   Athlete gender             1048575 non-null  object
 10  Athlete age category       972936 non-null   object
 11  Athlete average speed      1048564 non-null  object
 12  Athlete ID                 1048575 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 104.0+ MB

In [24]:
df.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [4]:
df.shape

(7461195, 13)

In [5]:
df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [147]:
df['city']= df['Event name'].str[:-5]

In [148]:
df['country']= df['Event name'].str[-5:]

In [149]:
df['distance']= df['Event distance/length'].str[:-2]

In [154]:
df['distance'] = pd.to_numeric(df['distance'], errors='coerce')

### Event distance/length of year 2018

In [182]:
year_2018 = df[df['Year of event'] == 2018]

In [183]:
year_2018.isnull().sum()

Year of event                     0
Event dates                       0
Event name                        0
Event distance/length           174
Event number of finishers         0
Athlete performance               0
Athlete club                 285478
Athlete country                   0
Athlete year of birth         44500
Athlete gender                    0
Athlete age category          44189
Athlete average speed           533
Athlete ID                        0
city                              0
country                           0
distance                      21538
dtype: int64

In [184]:
distancelength= year_2018.groupby('Event distance/length').size().reset_index(name='count')
distancelength.sort_values(by='count', ascending=False)

    Event distance/length   count
458                  50km  145267
7                   100km   66458
459                  50mi   21976
704                  90km   18903
539                  60km   17911
..                    ...     ...
74                113.8km       1
185               162.6km       1
112        128mi/4Etappen       1
430                 480km       1
170               158.5mi       1

[745 rows x 2 columns]

### Who were the three winners of the 50KM race during 2018?

In [185]:
df['Athlete average speed'] = pd.to_numeric(df['Athlete average speed'], errors='coerce')

In [186]:
# Filter the DataFrame where 'Event distance/length' equals '100.4km'
filtered_df = year_2018[df['Event distance/length'] == '50km']

# Sort the filtered DataFrame in ascending order by Athlete average speed
WINNERS50 = filtered_df.sort_values(by='Athlete average speed', ascending=True)


WINNERS50.iloc[0:3]

C:\Users\pcc\AppData\Local\Temp\ipykernel_11292\3489900309.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = year_2018[df['Event distance/length'] == '50km']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,city,country,distance
7194,2018,17.-18.03.2018,Monasterio De Tarlac Ultra Marathon (PHI),50km,198,10d 20:14:00 h,NaN,PHI,NaN,F,NaN,0.192,6557,Monasterio De Tarlac Ultra Marathon,(PHI),50.0
647454,2018,03.-05.11.2018,Run Amok 50 Km Trail Race (USA),50km,37,32:01:30 h,"*Clayton, GA",USA,1954.0,F,W60,1.561,369498,Run Amok 50 Km Trail Race,(USA),50.0
442549,2018,08.09.2018,Ultra Trail Arasunu (UTA) 50k (PAR),50km,41,29:47:55 h,NaN,PAR,1985.0,M,M23,1.678,167039,Ultra Trail Arasunu (UTA) 50k,(PAR),50.0

### Who were the three winners of the 100KM race during 2018?

In [187]:
# Filter the DataFrame where 'Event distance/length' equals '100.4km'
filtered_df = year_2018[df['Event distance/length'] == '100km']

# Sort the filtered DataFrame in ascending order by Athlete average speed
WINNERS100 = filtered_df.sort_values(by='Athlete average speed', ascending=True)


WINNERS100.iloc[0:3]

C:\Users\pcc\AppData\Local\Temp\ipykernel_11292\4094359846.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = year_2018[df['Event distance/length'] == '100km']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,city,country,distance
633989,2018,16.-18.11.2018,Oxfam Trailwalker Hong Kong (HKG),100km,4595,2d 00:21:51 h,NaN,HKG,1985.0,M,M23,2.068,364299,Oxfam Trailwalker Hong Kong,(HKG),100.0
633990,2018,16.-18.11.2018,Oxfam Trailwalker Hong Kong (HKG),100km,4595,2d 00:21:51 h,NaN,CHN,1995.0,M,MU23,2.068,364300,Oxfam Trailwalker Hong Kong,(HKG),100.0
633992,2018,16.-18.11.2018,Oxfam Trailwalker Hong Kong (HKG),100km,4595,2d 00:21:51 h,NaN,CHN,1998.0,F,WU23,2.068,364302,Oxfam Trailwalker Hong Kong,(HKG),100.0

### Who had the highest average speed among athletes in the 50KM race?

In [188]:

speed= df[df['Event distance/length'] == '50km']

# Sort the filtered DataFrame in ascending order by Athlete average speed
highestspeed50 = speed.sort_values(by='Athlete average speed', ascending=True)


highestspeed50.iloc[0:9]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,city,country,distance
7194,2018,17.-18.03.2018,Monasterio De Tarlac Ultra Marathon (PHI),50km,198,10d 20:14:00 h,NaN,PHI,NaN,F,NaN,0.192,6557,Monasterio De Tarlac Ultra Marathon,(PHI),50.0
926118,2016,21.05.2016,Knock on Wood Ultra - Forest Freak 50k (USA),50km,78,47:34:08 h,"*Lakeland, GA",USA,1986.0,F,W23,1.051,464279,Knock on Wood Ultra - Forest Freak 50k,(USA),50.0
694212,2016,13.02.2016,50km Caboolture Historical Village Dusk to Daw...,50km,3,44:58:07 h,NaN,AUS,1964.0,M,M50,1.112,77963,50km Caboolture Historical Village Dusk to Dawn,(AUS),50.0
647454,2018,03.-05.11.2018,Run Amok 50 Km Trail Race (USA),50km,37,32:01:30 h,"*Clayton, GA",USA,1954.0,F,W60,1.561,369498,Run Amok 50 Km Trail Race,(USA),50.0
442548,2018,08.09.2018,Ultra Trail Arasunu (UTA) 50k (PAR),50km,41,29:47:52 h,NaN,PAR,1993.0,M,M23,1.678,167055,Ultra Trail Arasunu (UTA) 50k,(PAR),50.0
442549,2018,08.09.2018,Ultra Trail Arasunu (UTA) 50k (PAR),50km,41,29:47:55 h,NaN,PAR,1985.0,M,M23,1.678,167039,Ultra Trail Arasunu (UTA) 50k,(PAR),50.0
285739,2018,19.05.2018,Knock on Wood Ultra - Forest Freak 50k (USA),50km,111,27:34:51 h,NaN,USA,1979.0,F,W35,1.813,110723,Knock on Wood Ultra - Forest Freak 50k,(USA),50.0
647453,2018,03.-05.11.2018,Run Amok 50 Km Trail Race (USA),50km,37,27:31:13 h,"*Powell, TN",USA,1980.0,M,M35,1.817,369497,Run Amok 50 Km Trail Race,(USA),50.0
317305,2018,04.-06.08.2018,Mo' Bell 50K (USA),50km,27,26:08:40 h,NaN,USA,1954.0,F,W60,1.912,180264,Mo' Bell 50K,(USA),50.0

### Who had the highest average speed among athletes in the 90KM race?

In [209]:

racer90= year_2018[df['Event distance/length'] == '90km']

# Sort the filtered DataFrame in ascending order by Athlete average speed
highestspeed90 = racer90.sort_values(by='Athlete average speed', ascending=True)

y_pred = racer90['Athlete average speed']
highestspeed90.iloc[0:9]

C:\Users\pcc\AppData\Local\Temp\ipykernel_11292\2566227080.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  racer90= year_2018[df['Event distance/length'] == '90km']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID,city,country,distance
358698,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:40:54 h,Alfa Team,ROU,1973.0,M,M40,2.841,188415,Marathon 7500,(ROU),90.0
358697,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:40:54 h,Alfa Team,ROU,1985.0,M,M23,2.841,238031,Marathon 7500,(ROU),90.0
358696,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:28:37 h,Fathers Of Twins,ROU,1977.0,M,M40,2.859,238030,Marathon 7500,(ROU),90.0
358695,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:28:37 h,Fathers Of Twins,ROU,1971.0,M,M45,2.859,238029,Marathon 7500,(ROU),90.0
358693,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:14:35 h,Mek_Nyk,ROU,NaN,F,NaN,2.881,238027,Marathon 7500,(ROU),90.0
358694,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:14:35 h,Mek_Nyk,ROU,1966.0,M,M50,2.881,238028,Marathon 7500,(ROU),90.0
358692,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:00:47 h,Cuci Veseli,ROU,1975.0,M,M40,2.902,11910,Marathon 7500,(ROU),90.0
358691,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,31:00:47 h,Cuci Veseli,ROU,1987.0,F,W23,2.902,180627,Marathon 7500,(ROU),90.0
358690,2018,13.-14.07.2018,Marathon 7500 (ROU),90km,56,30:51:02 h,Doua Belele,ROU,NaN,M,NaN,2.917,238026,Marathon 7500,(ROU),90.0

In [210]:
racer90.isnull().sum()

Year of event                  0
Event dates                    0
Event name                     0
Event distance/length          0
Event number of finishers      0
Athlete performance            0
Athlete club                 791
Athlete country                0
Athlete year of birth         22
Athlete gender                 0
Athlete age category          22
Athlete average speed          0
Athlete ID                     0
city                           0
country                        0
distance                       0
dtype: int64

### split data

In [213]:
X = racer90[['distance']].values  # Features, use double brackets to keep it as a DataFrame
y = racer90['Athlete average speed']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Train the model

In [216]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [217]:
y_pred = model.predict(X_test)

In [218]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'R² Score: {r2}')

# Optional: Display the coefficients
print(f'Coefficient: {model.coef_[0]}')
print(f'Intercept: {model.intercept_}')

Mean Absolute Error: 1.106626586947364
R² Score: -8.942802117384296e-05
Coefficient: 0.0
Intercept: 8.57766208173522